# Configuración General del Servidor
PORT=3000
NODE_ENV=development
JWT_SECRET=super_secret_jwt_key_change_me_in_production

# Base de Datos (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/github_views?schema=public"

# Caché (Opcional - Si no se provee, se usará memoria local)
# REDIS_URL="redis://localhost:6379"

# GitHub OAuth (Para el Dashboard)
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:3000/api/auth/github/callback

# Configuración del Contador
CACHE_TTL_SECONDS=86400
